In [55]:
from lxml import html
import requests
import pandas as pd

In [56]:
url = "https://www.dsebd.org/latest_share_price_scroll_by_ltp.php"

In [57]:
resp = requests.get(url)

In [85]:
df=pd.read_html(url)
df=df[386]
df.iat[0, 10]

642

In [83]:
df

,#,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,CHANGE,TRADE,VALUE (mn),VOLUME
0,1,RECKITTBEN,5516.2,5544.0,5491.0,5516.2,5491.3,24.9,102,3.536,642
1,2,UNILEVERCL,2850.0,2895.0,2850.0,2866.3,2876.0,-26,145,2.710,942
2,3,MARICO,2363.7,2366.9,2352.0,2363.8,2360.0,3.7,56,1.339,568
3,4,EASTRNLUB,2157.1,2165.0,2130.0,2157.1,2132.2,24.9,282,5.145,2391
4,5,BERGERPBL,1759.7,1760.0,1745.0,1758.3,1752.7,7,77,3.960,2251
...,...,...,...,...,...,...,...,...,...,...,...
379,380,FAMILYTEX,4.9,4.9,4.9,4.9,4.9,0,72,1.452,296301
380,381,BDSERVICE,0.0,0.0,0.0,5.2,5.2,--,0,0.000,0
381,382,BXSYNTH,0.0,0.0,0.0,8.4,8.4,--,0,0.000,0
382,383,NLI1STMF,0.0,0.0,0.0,14.4,14.4,--,0,0.000,0
383,384,PLFSL,0.0,0.0,0.0,3.0,3.0,--,0,0.000,0

In [89]:
totalVolume=0
for i in range(383):
    totalVolume=totalVolume+df.iat[i, 10]
    
totalVolume

234332830