In [1]:
from lxml import html
import requests
import pandas as pd
import math

In [2]:
url = "https://dsebd.org/latest_PE.php"

In [3]:
peDataFrame=pd.read_html(url)
list(peDataFrame[385].columns)

['#',
 'Trade Code',
 'Close Price',
 'YCP',
 'P/E 1*(Basic)',
 'P/E 2*(Diluted)',
 'P/E 3*(Basic)',
 'P/E 4*(Diluted)',
 'P/E 5*',
 'P/E 6*']

In [4]:
peDataFrame=pd.read_html(url)
desiredListOfColumns=['#',
 'Trade Code',
 'Close Price',
 'YCP',
 'P/E 1*(Basic)',
 'P/E 2*(Diluted)',
 'P/E 3*(Basic)',
 'P/E 4*(Diluted)',
 'P/E 5*',
 'P/E 6*']
i=0
for part in peDataFrame:
    if desiredListOfColumns==list(part.columns):
        peDataFrame=part
        break

In [5]:
peDataFrame

,#,Trade Code,Close Price,YCP,P/E 1*(Basic),P/E 2*(Diluted),P/E 3*(Basic),P/E 4*(Diluted),P/E 5*,P/E 6*
0,1,1JANATAMF,6.4,6.5,8.21,NaN,NaN,NaN,2.52,NaN
1,2,1STPRIMFMF,18.2,17.9,13,NaN,NaN,NaN,47.89,NaN
2,3,AAMRANET,45.1,44.8,23.99,NaN,NaN,NaN,21.07,NaN
3,4,AAMRATECH,40.5,40.5,17.46,NaN,NaN,NaN,27.93,NaN
4,5,ABB1STMF,5.6,5.7,6.09,NaN,NaN,NaN,2.15,NaN
...,...,...,...,...,...,...,...,...,...,...
396,397,WMSHIPYARD,12.4,12.4,NaN,NaN,NaN,NaN,14.42,NaN
397,398,YPL,24.5,22.3,24.5,NaN,NaN,NaN,NaN,NaN
398,399,ZAHEENSPIN,10.4,10.3,NaN,NaN,NaN,NaN,NaN,NaN
399,400,ZAHINTEX,8.3,8.0,NaN,NaN,NaN,NaN,NaN,NaN
400,401,ZEALBANGLA,155.4,156.5,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

In [9]:
sizeOfDataFrame=len(peDataFrame.index)
returnList=list()
for i in range(sizeOfDataFrame):
    toAppend=peDataFrame.at[i, desiredListOfColumns[4]]
    if not isfloat(toAppend):
        returnList.append(0)
    elif math.isnan(float(toAppend)):
        returnList.append(0)
    else:
        returnList.append(float(toAppend))

In [10]:
returnList

[8.21,
 13.0,
 23.99,
 17.46,
 6.09,
 19.94,
 26.36,
 26.51,
 22.84,
 8.78,
 18.43,
 53.81,
 26.46,
 22.13,
 37.88,
 0,
 23.16,
 29.18,
 16.41,
 0,
 32.2,
 438.33,
 13.0,
 21.88,
 120.0,
 11.86,
 708.38,
 38.57,
 0,
 25.47,
 22.23,
 101.5,
 37.64,
 42.87,
 425.94,
 0,
 0,
 73.95,
 0,
 0,
 19.48,
 16.56,
 7.25,
 0,
 0,
 687.22,
 6.51,
 7.37,
 0,
 21.09,
 7.66,
 12.92,
 11.27,
 276.92,
 27.33,
 28.54,
 39.85,
 0,
 72.69,
 66.29,
 0,
 1037.5,
 48.28,
 40.0,
 30.46,
 0,
 8.83,
 19.87,
 0,
 26.94,
 26.68,
 8.74,
 12.65,
 6.53,
 16.89,
 6.52,
 7.04,
 12.37,
 0,
 12.02,
 21.76,
 19.03,
 0,
 6.54,
 20.6,
 15.14,
 9.88,
 18.93,
 23.11,
 45.67,
 18.14,
 0,
 14.11,
 102.78,
 11.14,
 12.3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 38.33,
 33.03,
 26.67,
 6.5,
 19.54,
 41.61,
 7.34,
 151.2,
 15.45,
 0,
 8.12,
 15.22,
 26.52,
 348.34,
 6.84,
 6.91,
 3.86,
 0,
 31.67,
 10.38,
 19.8,
 285.83,
 15.62,
 19.07,
 12.41,
 0,
 8.03,
 7.94,
 0,
 0,
 0,
 0,
 0,
 5.2,
 33.65,
 20.58,
 0,
 0,
 6.69,
 34.33,
 50.88,
 135.56,
 26.58,
 49.85,
 22.65,
 0,
 181.0,
 0,
 27.37,
 26.62,
 13.01,
 12.63,
 0,
 9.14,
 11.99,
 10.27,
 16.59,
 0,
 20.87,
 58.33,
 33.72,
 13.48,
 0,
 0,
 14.21,
 17.84,
 30.32,
 11.45,
 9.51,
 9.04,
 10.13,
 0,
 8.57,
 9.76,
 23.51,
 9.19,
 3.68,
 14.17,
 0,
 0,
 19.54,
 121.58,
 15.67,
 17.43,
 9.21,
 18.96,
 21.41,
 86.54,
 21.25,
 6.84,
 9.68,
 27.07,
 8.53,
 59.59,
 0,
 17.42,
 579.77,
 0,
 24.11,
 32.5,
 37.26,
 0,
 0,
 21.4,
 14.51,
 268.64,
 22.46,
 908.0,
 19.63,
 37.91,
 18.97,
 14.82,
 6.7,
 7.47,
 19.61,
 5.97,
 12.71,
 0,
 38.75,
 0,
 0,
 4.91,
 28.53,
 13.29,
 18.56,
 0,
 0,
 20.1,
 0,
 13.12,
 33.0,
 313.18,
 85.0,
 235.0,
 111.27,
 7.68,
 11.81,
 31.43,
 0,
 133.18,
 12.78,
 5.66,
 5.14,
 21.88,
 0,
 20.31,
 17.99,
 20.57,
 0,
 27.95,
 21.1,
 7.91,
 42.06,
 0,
 0,
 0,
 0,
 19.0,
 5.99,
 44.03,
 25.57,
 0,
 8.83,
 68.84,
 20.26,
 0,
 28.04,
 28.59,
 24.24,
 16.81,
 39.27,
 18.6,
 21.68,
 6.88,
 13.09,
 0,
 5.87,
 0,
 11.55,
 13.54,
 0,
 0,
 5.27,
 122.17,
 0,
 7.98,
 7.7,
 33.36,
 30.93,
 0,
 43.5,
 0,
 30.05,
 15.29,
 4.8,
 25.23,
 134.05,
 19.92,
 0,
 84.76,
 21.37,
 45.3,
 38.44,
 31.51,
 0,
 11.63,
 13.2,
 26.41,
 0,
 18.55,
 33.79,
 0,
 98.82,
 0,
 17.08,
 57.16,
 18.37,
 0,
 287.5,
 17.95,
 0,
 15.93,
 60.24,
 19.63,
 0,
 36.67,
 0,
 31.56,
 0,
 12.41,
 32.5,
 6.57,
 8.05,
 10.0,
 8.81,
 14.18,
 23.41,
 8.61,
 0,
 13.7,
 28.09,
 21.5,
 20.23,
 32.69,
 44.14,
 0,
 12.87,
 28.47,
 188.43,
 0,
 37.55,
 24.25,
 66.75,
 3.4,
 133.0,
 11.54,
 6.79,
 10.08,
 7.04,
 0,
 21.28,
 25.71,
 0,
 9.65,
 0,
 31.61,
 0,
 50.6,
 14.06,
 22.9,
 5.18,
 6.35,
 0,
 7.86,
 64.53,
 4.13,
 0,
 22.09,
 122.92,
 15.8,
 31.45,
 10.72,
 0,
 7.3,
 17.68,
 17.73,
 5.62,
 14.03,
 36.53,
 52.16,
 0,
 24.5,
 0,
 0,
 0]

In [11]:
# creating companySectorDictionary by reading txt file

sectorFile=open("companysector.txt", "r")
sectorFlag=1
currentSector=""
companySectorDictionary={}
for line in sectorFile:
    if line=="\n":
        sectorFlag=1
    else:
        line=line.strip()
        if sectorFlag==1:
            currentSector=line
            sectorFlag=0
        else:
            companySectorDictionary[line]=currentSector

In [12]:
# calculating return of each sector and putting in a dictionary sectorReturnCount

sectorPECount={}
size=len(peDataFrame.index)
for i in range(size):
    if peDataFrame.at[i, 'Trade Code'] in companySectorDictionary:
        sectorOfCompany=companySectorDictionary[peDataFrame.at[i, 'Trade Code']]
    if sectorOfCompany in sectorPECount:
        sectorPECount[sectorOfCompany]+=float(returnList[i])
    else:
         sectorPECount[sectorOfCompany]=float(returnList[i])