In [1]:
from lxml import html
import requests
import pandas as pd

In [2]:
url = "https://www.dsebd.org/latest_share_price_scroll_by_ltp.php"

In [13]:
dataframe=pd.read_html(url)

desiredListOfColumns=['#',
 'TRADING CODE',
 'LTP*',
 'HIGH',
 'LOW',
 'CLOSEP*',
 'YCP*',
 'CHANGE',
 'TRADE',
 'VALUE (mn)',
 'VOLUME']

for part in dataframe:
    if desiredListOfColumns==list(part.columns):
        dataframe=part
        break

dataframe

,#,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,CHANGE,TRADE,VALUE (mn),VOLUME
0,1,RECKITTBEN,5402.7,5470.0,5381.0,5402.7,5406.2,-3.5,139,2.620,485
1,2,UNILEVERCL,2899.0,2900.0,2847.6,2872.6,2847.6,51.4,157,2.713,946
2,3,MARICO,2350.0,2375.0,2345.0,2350.1,2353.9,-3.9,49,2.803,1193
3,4,EASTRNLUB,2126.4,2172.0,2115.0,2126.4,2125.6,0.8,160,4.058,1908
4,5,BERGERPBL,1765.7,1765.7,1740.5,1764.5,1755.3,10.4,45,1.372,779
...,...,...,...,...,...,...,...,...,...,...,...
379,380,ICBIBANK,4.9,4.9,4.9,4.9,4.9,0,72,2.317,472842
380,381,BDSERVICE,0.0,0.0,0.0,5.2,5.2,--,0,0.000,0
381,382,BXSYNTH,0.0,0.0,0.0,8.4,8.4,--,0,0.000,0
382,383,NLI1STMF,0.0,0.0,0.0,14.4,14.4,--,0,0.000,0
383,384,PLFSL,0.0,0.0,0.0,3.0,3.0,--,0,0.000,0

In [15]:
totalVolume=0
for i in range(384):
    totalVolume=totalVolume+dataframe.iat[i, 10]

In [16]:
sectorFile=open("companysector.txt", "r")
sectorFlag=1
currentSector=""
companySectorDictionary={}
for line in sectorFile:
    if line=="\n":
        sectorFlag=1
    else:
        line=line.strip()
        if sectorFlag==1:
            currentSector=line
            sectorFlag=0
        else:
            companySectorDictionary[line]=currentSector

In [20]:
sectorVolumeCount={}
for i in range(384):
    if dataframe.at[i, 'TRADING CODE'] in companySectorDictionary:
        sectorOfCompany=companySectorDictionary[dataframe.at[i, 'TRADING CODE']]
    if sectorOfCompany in sectorVolumeCount:
        sectorVolumeCount[sectorOfCompany]=sectorVolumeCount[sectorOfCompany]+dataframe.at[i, 'VOLUME']
    else:
         sectorVolumeCount[sectorOfCompany]=1

In [21]:
sectorVolumePercentage={}
for sectorOfCompany in sectorVolumeCount:
    sectorVolumePercentage[sectorOfCompany]=(sectorVolumeCount[sectorOfCompany]*100)/totalVolume

In [22]:
sectorVolumePercentage

{'Pharmaceuticals & Chemicals': 11.26185785365199,
 'Food & Allied': 2.648704238866289,
 'Fuel & Power': 3.531531031544277,
 'Miscellaneous': 3.659159467074894,
 'Engineering': 7.973231182386904,
 'Tannery Industries': 0.7854148442165167,
 'Paper& Printing': 0.3448655861300034,
 'Jute': 0.005565215731287806,
 'Telecommunication': 0.6798972435070657,
 'Cement': 0.4388658718803819,
 'Textile': 25.612982198816972,
 'Insurance': 3.865484140425762,
 'Ceramics': 0.7778803619549685,
 'IT Sector': 7.931058518621438,
 'Financial Institution': 4.158796762320274,
 'Services & Real Estate': 1.440402697167451,
 'Bank': 18.99488636295509,
 'Travel & Leisure': 0.24547728319635087,
 'Mutual Funds': 4.966310628121422}